@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  background-color: #2BA9EA;
  width: 10px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 6px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  width: 28%;
  height: 100%;
  background-color: #0097E6;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-left .players-box {
  margin-bottom: 40px;
}
.container-left .players-box input.player-input {
  padding-left: 16px;
  width: 317px;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  color: #828282;
  background-color: #fff;
}
.container-left .players-box input.player-input:focus {
  border: 1px solid #2BA9EA;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #bcdae9;
}
.container-left .players-box .player-1-name {
  margin-bottom: 20px;
}
.container-left .players-box .player-2-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-left .players-box .player-2-name .switch-player-2 {
  padding: 4px;
  width: 56px;
  height: 32px;
  border-radius: 100px;
  background-color: #0097E6;
  position: absolute;
  right: 9px;
  cursor: pointer;
  transition: 0.5s;
}
.container-left .players-box .player-2-name .switch-player-2 .circle-switch-player-2 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}
.container-left .players-box .player-2-name .bot-name {
  display: none;
  background-color: white;
  width: 252px;
  height: 48px;
  position: absolute;
  left: 0;
  border-radius: 10px;
}
.container-left .players-box .player-2-name .bot-name span {
  padding: 12px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #828282;
}
.container-left .players-box .switch-player-2.active-bot {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #bbf3d3;
  transition: 0.5s;
}
.container-left .players-box .switch-player-2.active-bot .circle-switch-player-2 {
  background-color: #45F391;
  transform: translateX(24px);
  transition: 0.5s;
}
.container-left .players-box .bot-name.active-bot {
  display: block;
}
.container-left .type-game {
  margin-bottom: 45px;
  width: 100%;
}
.container-left .type-game > p {
  font-size: 16px;
  font-weight: 700;
  color: #45F391;
  margin-bottom: 15px;
  text-align: center;
}
.container-left .type-game .best-of {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-left .type-game .best-of p {
  font-size: 16px;
  color: #fff;
}
.container-left .type-game .best-of .bg-switch-best-of {
  padding: 3px;
  margin: 0 44px;
  background-color: #0097E6;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 56px;
  height: 32px;
}
.container-left .type-game .best-of .bg-switch-best-of .circle-switch-best-of {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
}
.container-left .start-game .button-start-game {
  margin-bottom: 38px;
  width: 317px;
  height: 54px;
  background-color: #45F391;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.container-left .start-game .button-start-game:hover {
  letter-spacing: 1px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-left .match-history {
  margin-bottom: 40px;
  padding-right: 10px;
  max-height: 240px;
  overflow-y: auto;
}
.container-left .match-history > p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.container-left .match-history .winner-history {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-left .match-history .winner-history .history-field {
  padding: 6px 0 4px 16px;
  width: 168px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
}
.container-left .match-history .winner-history .history-field p {
  font-size: 14px;
  font-weight: 700;
  color: #828282;
}
.container-left .match-history .winner-history .history-field p:first-child {
  color: #45F391;
  margin-bottom: 6px;
}
.container-left .match-history .winner-history span {
  margin: 0 16px;
  font-size: 14px;
  color: #fff;
}
.container-left .match-history .winner-history .scenario-winner {
  display: flex;
  flex-direction: column;
}
.container-left .match-history .winner-history .scenario-winner .row-scenario-winner {
  display: flex;
}
.container-left .match-history .winner-history .scenario-winner .row-scenario-winner .scenario-winner-field {
  margin-bottom: 2px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  color: #828282;
}
.container-left .restart button.restart-button {
  width: 317px;
  height: 54px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #0097E6;
  position: relative;
  z-index: 1;
}
.container-left .restart button.restart-button:hover {
  letter-spacing: 1px;
}
.container-left .restart button.restart-button::after {
  content: "";
  position: absolute;
  box-shadow: inset 317px 0 0 0 #bcdae9;
  transition: 0.5s;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  z-index: -1;
}
.container-left .restart button.restart-button:hover::after {
  content: "";
  border-radius: 10px;
  left: 0;
  right: 0;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 44%;
  height: 100%;
  background-color: #2BA9EA;
}
.container-center .scoreboard {
  margin-bottom: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100px;
  border-radius: 15px;
  background-color: white;
}
.container-center .scoreboard > p {
  font-size: 24px;
  font-weight: 700;
  color: #0097E6;
}
.container-center .scoreboard .points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container-center .scoreboard .points .player-1-points span,
.container-center .scoreboard .points .player-2-points span {
  font-size: 48px;
  font-weight: 700;
  color: #0097E6;
}
.container-center .scoreboard .points .turn-player span {
  font-size: 16px;
  font-weight: 500;
  color: #828282;
}
.container-center .battlefield {
  display: flex;
  flex-direction: column;
}
.container-center .battlefield .row {
  display: flex;
  margin-bottom: 10px;
}
.container-center .battlefield .row .field {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 15px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 130px;
  font-weight: 700;
  color: #828282;
}
.container-center .battlefield .row .color-winner {
  color: green;
}
.container-center .battlefield .row .color-full-field {
  color: red;
  background-color: #f8b7b7;
}

.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 28%;
  height: 100%;
  background-color: #0097E6;
}
.container-right p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.container-right .history-move {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 317px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
}
.container-right .history-move:not(:last-child) {
  margin-bottom: 20px;
}
.container-right .history-move .piece-last-move {
  margin-right: 16px;
}
.container-right .history-move .piece-last-move span {
  font-size: 48px;
  font-weight: 700;
  color: #828282;
}
.container-right .history-move div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-right .history-move div .player-name-last-move span {
  font-size: 14px;
  font-weight: 700;
  color: #828282;
  margin-bottom: 7px;
}
.container-right .history-move div .position-last-mome {
  font-size: 14px;
  color: #0097E6;
}

/*# sourceMappingURL=style.css.map */
