$background-primary-color: #ffffff;
$background-color-1: #0097E6;
$background-color-2: #2BA9EA;

$button-background: #45F391;

$text-color-main: #828282;
$text-color-title: #0097E6;
$text-color-secondary: #45F391;
