@import '_variables.scss';
@import '_mixins.scss';
@import '_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
	height: 100vh;
	width: 100vw;
	@include flex-center;
}

.container-left {
	width: 28%;
	height: 100%;
	background-color: $background-color-1;
}

.container-center {
	width: 44%;
	height: 100%;
	background-color: $background-color-2;
}

.container-right {
	width: 28%;
	height: 100%;
	background-color: $background-color-1;
}